

/* Core CSS */
body
{
    -webkit-font-smoothing: antialiased;
    font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #424A55;
	color: #ffffff;
	font-size: 15px;
}

#skiplink 
{
    position: absolute; 
    left: -999em;
}



#wrapper
{
	margin: 2% 0%;
	border: black 1px solid;
	background-color: #FFFFFF;
	box-shadow: 0.1em 0.1em 0.3em 0.2em #000000;
	-moz-box-shadow: 0.1em 0.1em 0.3em 0.2em #000000;
	-webkit-box-shadow: 0.1em 0.1em 0.3em 0.2em #000000;
}

#main section
{
    padding-bottom: 1em;
}

header
{
    text-align: center;
}

footer
{
    
}

#main
{
	margin-top: 0.1em;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0.1em;
	padding: 1em;
	background-color: #FFF;
}

.timetable img 
{
    border: 1px solid #424A55;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav a
{
	padding: 1em;
	border: 1px solid #064e6f;
	text-decoration: none;
	color: white;
	background-color: darkred;
	display: block;
        font-size: 13px;
}

nav a:hover
{

}

nav a[href=""]
{
	color: black;
	background-color: white;
}

#user
{
    margin: 5%;
    color: #FFFFFF;
}


label
{
	float: left;
	padding: 0% 1% 2% 2%;
	text-align: right;
}

form div
{
	clear: left;
	padding-top: 1.5em;
}

input
{
	margin-left: 3em;
	padding: 0.3em;
}

fieldset
{
	background-color: #fff;
	border: 2px black solid;
	border-radius: 5px;
	padding: 2em;
	margin: 2em;
}

legend
{
	background-color: #fff;
	padding: 0.3em 1em;
	border: 2px #000 solid;
	border-radius: 5px;
	text-align: center;
}

.status
{
    clear:both;
    padding: 1em;
}

footer
{
	clear: both;
	background-color: #424A55;
	color: #FFF;
	margin-top: 5%;
	padding: 1em;
}

footer a 
{
	color: #FFF;
}

img{
    padding: 4px;
}

table{
    width: 100%;
    font-size:12px;
    margin-bottom:10%;
}

th,td
    {
        color: white;
        height: 15px;
        margin: 0;
        text-align: center;
        outline: 1px solid #e3e3e3;
        
        //border-right-style: solid;
        //border-left-style: solid;
        border-bottom-style: solid;
        
        
    }
    
    tr:nth-child(4n+5) {  
        border-bottom-style: solid;
        border-bottom-color: black;
    }
    
    th:first-of-type{
        background-color:#666;
    }

    

    th
    {
        width: 12.5%;
        //border-bottom-style: solid;
        //border-bottom-color: black;
            color: white;
         border-top-style: solid;
        background-color:darkred;
    }

    td:hover
    {
        cursor: pointer;
        background: #666;
        color: white;
    }
    
    .occupied {
       background-color:dodgerblue;
       
    
    }
    .collision{
        background-color:buttonface;
    }
    
    
/* Two-column layout */
@media screen and (min-width: 768px)
{

    body
    {
        font-size: 16px;
    }
    
	#wrapper
	{
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}
	
	#main
	{
		margin: 0;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5%;
		margin-top: 3%;
		text-align: left;
	}
	
	#main section
	{
	    padding: 0.5%;
	}
	
	.timetable
	{
	   margin-left: 55%;
	}
	
	.timetable img
	{
	   max-width: none;
	}
	
	.content
	{
	    float: left;
		width: 50%;
	}
	
	nav
	{
	    background-color: darkred;
	}
	
	nav ul 
	{
	    margin: 0;
	    padding: 2%;
	    padding-left: 0;
	}
	
	nav li
	{
		display: inline;
	}
	
	nav a
	{
		display: inline;
		border: none;
	}
	
	#user
    {
        float: right;
        margin: 2%;
        padding-right: 2%;
    }
    
    select
    {
        padding-top: 3%;
    }
    

}
	
/* Three-column layout*/
@media screen and (min-width: 1024px)
{
    body 
    {
        font-size: 18px;
    }
    
    
	#main
	{
		margin-top: 3%;
		margin-bottom: 5%;
		margin-left: 5%;
		margin-right: 1%;
		width: 90%;
	}
	
	#main section
	{
	    padding: 2em;
	}
	
	label
    {
    	width: 10em;
    	
    }
}  

@media (min-width: 1200px) {

}